@import url('https://fonts.cdnfonts.com/css/8bit-wonder');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Krona+One&display=swap');

:root {
  --cor-principal: #070F2B;
  --cor-secundaria: #f6f6f6;
  --cor-terciaria: #535C91;
}

.cabesalho-menu-link:hover {
  cursor: pointer;
}

.cabesalho {
  padding: 2% 0% 0% 15%;
}

.cabesalho-menu {
  display: flex;
  gap: 45px;
}

.cabesalho-menu-link {
  font-family: 'abeezee', sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  color: #98e4f5;
  text-decoration: none;
}

.apresentacao {
  padding: 8% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 82px;
}

.apresentacao__conteudo {
  width: 650px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.apresentacao__conteudo__titulo {
  font-size: 2.25rem;
}

.apresentacao__conteudo__texto {
  font-size: 1.6rem;
}

.titulo-dois {
  display: flex;
  align-self: center;
  font-family: 'Krona One',sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
  }
  
  h1 {
    font-family: 'Krona One',sans-serif;
  }

  .Destaq-Titulo {
    color: var(--cor-terciaria);
  }

  .Destaq-Paragrafo {
    color: var(--cor-terciaria);
  }
  
  p {
    font-family: 'abeezee', sans-serif;
  }

  .rodape {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 2%;
    font-family: 'abeezee', 'sans-serif';
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
  }

@media (max-width: 1200px) {
  .cabesalho {
    padding: 5% 0% 0% 2%;
  }
  .cabesalho-menu {
    justify-content: center;
  }
  .cabesalho-menu-link {
    font-size: 3rem;
  }
  .apresentacao {
    flex-direction: column-reverse;
    padding: 5%;
  }
  .apresentacao__conteudo {
    width: auto;
  }
  
}
